@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: 'DM Serif Display', serif;
  --font-mono: 'Space Mono', monospace;

  --color-cream: #F7F4EE;
  --color-brand-green: #2E6B4F;
  --color-brand-brick-red: #9E2828;
  --color-brand-brick-red-light: #E5AA70;
}

.dark {
  --color-brand-green: #6DB892;
  --color-brand-brick-red: #D46B6B;
}

body {
  @apply bg-cream dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 antialiased selection:bg-brand-green selection:text-white transition-colors duration-300;
}

@layer utilities {
  /* Scroll Animation Base State (Invisible and pushed down) */
  .fade-up-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  }

  /* Scroll Animation Active State (Visible and in position) */
  .fade-up-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  @apply mx-auto px-4 py-12;
}
